.form_flobal{
    max-width:500px;
    background-color: #fafafa;
    margin: 0 auto;
    padding: 5px;
}

input[type="submit"]{
    width: 20%;
    border-radius:5px;
    border:none;
    margin: 10px auto;
    background-color: green;
    color: white;
}

